<!doctype html><html><head><meta charset="utf-8">
<link rel="stylesheet" href="../styles/pdf.css"><title>Book Cover Specification</title></head><body>
<div class="container">
  <div class="header">
    <div class="brand">[RE]Print Studios</div>
    <div class="forby">/for/ {client.displayName} /by/ Kendrick&nbsp;Forrest</div>
  </div>
  
<h1>Book Cover Specification</h1>
<table class="table">
<tr><th>Title</th><td>{{book.title}}</td></tr>
<tr><th>Author</th><td>{{book.author}}</td></tr>
<tr><th>Trim Size</th><td>{{book.trim}}</td></tr>
<tr><th>Platform</th><td>{{book.platform}}</td></tr>
<tr><th>Blurb</th><td>{{book.blurb}}</td></tr>
</table>

  <hr/>
  <p class="small">Generated 2025-08-08 • Project: {project.name} • ID: {project.id}</p>
</div></body></html>